*{
    margin: 0;
    padding: 0;

}

.conteudo{
    display: flex;
    justify-content: space-between;
}

.cartao{
    background-color: #99ABBF;
    color: black;
    border-radius: 20px;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    margin: 1rem 1rem;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    stroke: #18233F 10px;
    
}

footer{

    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    font-size: 15px;
    text-align: center;
    padding-top: 2px;



}

.cartao:hover{

    background-color: #8A9BAD;
}